$backgroundColor: #f4f4f4;
$bodyColor: #333;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003399;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 0 20px;
  font-size: 2em;

  img {
    height: 1.5rem;
  }
}

main {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

h3 {
  margin-top: 3em;
}

footer {
  background-color: #003399;
  color: white;
  text-align: center;
  padding: 10px 0;
}
